<!-- <div class="container">
    <h1 class="animated fadIn fast">
        About Empleados App
    </h1>
    <p class="animated fadIn">
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Perspiciatis impedit at fuga,
        facere neque unde in officia magni quo delectus ut sapiente odio sit ipsum quam minus.
        Similique, itaque mollitia!
    </p>
</div> -->

<div class="container mt-5">
    <div class="card">
        <div class="card-header text-center">
            <h2>
                Backstartup
            </h2>
        </div>
        <div class="card-body">
            <h5 class="card-title">
                Contadores modernos para empresas de servicios
            </h5>
            <p class="card-text">
                En Backstartup te ayudamos a entender tu contabilidad de principio a fin, acompañando el crecimiento de
                tu empresa con lo mejor de un contador virtual y una plataforma, haciendo tu contabilidad fácil,
                práctica y segura.
            </p>
        </div>
    </div>
</div>