<div class="justify-content-center m-4">
    <div class="card text-center">
        <div class="card-header">
            <h2>
                BIENVENIDO 
            </h2>
        </div>
        <div class="card-body">
            <h5 class="card-title">App de prueba para manejo de empleados</h5>
            <p class="card-text">
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sunt praesentium nostrum provident veritatis
                nesciunt, numquam cum tenetur dolore labore amet eaque perspiciatis ad similique ex animi, obcaecati
                tempora distinctio voluptates.
            </p>
            <a [routerLink]="['/empleados']" routerLinkActive="router-link-active"  class="btn btn-primary">Ir al los empleados</a>
        </div>
        <div class="card-footer text-muted">

        </div>
    </div>
</div>